<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.gpstracking">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <receiver android:name=".ServiceStartup">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".AndroidGPStrackingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GPSLogin"
            android:theme="@android:style/Theme.Dialog">
        </activity>

        <activity
            android:name=".GPSSignup"
            android:theme="@android:style/Theme.Dialog">
        </activity>

        <activity
            android:name=".GPSTrackedList">
        </activity>

        <activity
            android:name=".GPSTrackedAddChild">
        </activity>

        <activity
            android:name=".GPSTracker">
        </activity>

        <activity
            android:name=".GPSTrackerMonitor">
        </activity>

        <activity
            android:name=".GPSTrackedSetting">
        </activity>

        <activity android:name=".GPSTrackerTrackedInfo"
            android:theme="@android:style/Theme.Dialog">
        </activity>

        <provider
            android:authorities="com.project.gpstracking"
            android:name=".GPSContentProvider">
        </provider>

        <provider
            android:authorities="com.project.gpstracking.service"
            android:name=".GPSServiceProvider">
        </provider>

        <service android:name=".GPSService"
            android:enabled="true">
        </service>

    </application>

</manifest>
